<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>hehe</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" >
  <link rel="stylesheet" type="text/css" href="../static/css/tax.css">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-table.css">


</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">fuck</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Dashboard</a></li> -->
          <!-- <li><a href="#">Settings</a></li> -->
          <!-- <li><a href="#">Profile</a></li> -->
          <li><a href="/logout">登出</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <!-- left nav -->
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar" id="side_nav">
          <li id="li1"><a href="/main">主页 <span class="sr-only">(current)</span></a></li>
          <li id="li2"><a href="/import">导入</a></li>
          <li id="li3"><a href="/query_detail">明细查询</a></li>
          <li id="li4"><a href="/query_statistics">统计查询</a></li>
          <li id="li5"><a href="/query_class"></a></li>
        </ul>
      </div>

      <!-- main content -->
      <!-- div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main" -->
      <div class="col-md-10 col-md-offset-2 main">
        <!-- body here  -->

        <button type="button" id="btn">btn</button>






      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 中广有线枣庄分公司</p>
  </footer>

  <script src="../static/js/jquery-1.12.2.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/jquery.table2excel.js"></script>
  <script src="../static/js/bootstrap-table.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      //$("button").click(function(){
      //  $(this).hide();
      //});
      $("#li2").addClass("active");
    });


  </script>





</body>
</html>